CLIMATIQ_API_KEY=
GEOAPIFY_API_KEY=
RASA_API_URL=http://localhost:5005/webhooks/rest/webhook




set PATH=%APPDATA%\Python\Python310\Scripts;%LOCALAPPDATA%\Programs\Python\Python310;%PATH%

rasa data validate
rasa train --force

rasa test nlu --nlu tests/test_nlu.yml --out results/nlu
rasa test core --stories tests/test_stories.yml --out results/core


rasa run actions
rasa shell


rasa run actions
rasa run --enable-api --cors "*"
streamlit run frontend/app.py